@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon-bottom {
    transform: rotate(180deg);
}

#icon-top, #number, #icon-bottom {
    font-size: 70px;
}